body{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    background-color: rgb(5, 5, 10);
    font-family: 'Poppins', sans-serif;
}
#logo{
    margin-left:20px ;
}
nav{
    width: 100%;
    /* position: relative;
    z-index: 1; */
}
.sticky {
  position: fixed;
  top: 0;
  /* width: 100%; */
  /* background-color: black; */
}

.nav-bar{
    height: 60px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
    /* background-color: rgb(0, 0, 0); */
    margin-bottom: 20px;
    background-color: rgb(221, 166, 48);
    overflow: hidden;
}

.nav-links{
    display: flex;
    list-style: none;
}
.nav-links ul{
    display: flex;
}
.nav-links  li a{
    padding: 0.8rem;
    color: white;
    text-decoration: none;
    display: block;
}
@media (max-width:700px){
    .nav-bar ul{
        display: none;
    }
    
.nav-bar{
    height: 40px;
}
}

.header-container{
    height: auto;
    width: 100%;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
 
}
.box{
    background-color: black;
    width: 90%;
    color: white;
    margin: auto;
    /* position: absolute;
    height: auto;
    left: 50%;
    transform: translate(-50% ); */
    text-align: center;
}
.sticky + .content {
  padding-top: 80px;
}

.container-img{
    width: 90%;
    margin: auto;
    height: auto;
    background-color: red;
   display: flex ;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: pink;
   text-align: center;
}
.container-img p{
    margin: 0 60px 20px 60px;
}

#last-para{
 margin-bottom:90px 
}
.profile-img {
    padding: 1rem;
     margin:-70px  0 30px 0;
    background-image: url('/user2.jpg');
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;

}

@media (max-width : 700px) {
    .profile-img{
        width: 100px;
        height: 100px;
    }
    .box p{
        margin: 0 30px 30px 30px;
        
    }
    .container-img p{
    margin:0 30px 30px 30px;
}

}